body {
	font-family: Josefin Sans, sans-serif;
	background-image: url('background.jpg');
    background-size:cover;
    color: crimson;
	text-align: center;
}
#board {
	background-color: aliceblue;
    background-size:cover;
	width: 500px;
	height: 500px;
	border-radius: 5px;
	border: 6px solid slategray;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.tile{
	width: 90px;
	height: 90px;
	border: 5px solid slategray;
	font-size: 40px;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}
#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.number {
    width: 30px; 
    height: 30px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.v6 {
    background-image: url('Square.png');
    background-size: cover;
}

.v7 {
    background-image: url('50Square.png');
    background-size: cover;
}

.v8 {
    background-image: url('Star.png');
    background-size: cover;
}

.v9 {
    background-image: url('6Angle.png');
    background-size: cover;
}

.v10 {
    background-image: url('Circle.png');
    background-size: cover;
}

.win-message {
    display: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}